@import 'config';

// $primary-color: beige;
// $background-opacity: 0.6;

@include mediaSm {
  .home {
    background-color: ($primary-color);
  }
}

@media only screen and (max-width: 600px) {
  #ol {
    align-items: center;
    text-align: center;
    width: 100vh;
    height: 60%;
    display: flex;
  }
}
