$primary-color: #f5f5dc;
$secondary-color: #0000ff;

body {
  background-color: $primary-color;

  .top {
    color: $secondary-color;
    text-align: center;
  }

  .list {
    color: $secondary-color;
    margin-top: 30px;
    flex: left;
  }
}

#ol {
  width: 100%;
  height: 60%;
  display: flex;
}

.container a {
  font-size: larger;
  padding: 12px;
  color: red;
  display: inline-block;
  background-color: blue;
}
