#kent {
  width: 100%;
  height: auto;
  margin-top: 40px;
  display: block;
}

.list2 {
  color: black;
  flex: left;
}

.way a {
  font-size: larger;
  padding: 12px;
  margin-top: 10px;
  display: inline-block;
  color: red;
  background-color: blue;
}

h2 {
  color: blue;
}

.top2 {
  text-align: center;
  color: blue;
  margin-top: 20px;
}
.topp {
  text-align: center;
  color: blue;
  margin-top: 40px;
}

.convo {
  color: black;
  margin-top: 40px;
}

.auto a {
  font-size: larger;
  padding: 12px;
  margin-top: 40px;
  color: red;
  background-color: blue;
  display: inline-block;
}

.top3 {
  text-align: center;
  color: blue;
  margin-top: 60px;
}

.fre {
  color: black;
  margin-top: 40px;
}

.type {
  color: blue;
  margin-top: 50px;
}

.links2 a {
  font-size: larger;
  padding: 12px;
  margin-top: 40px;
  color: red;
  background-color: blue;
  display: inline-block;
}

.ftr {
  display: inline-flex;
}

@media only screen and (max-device-width: 480px) {
  div#wrapper {
    width: 400px;
  }

  header h1.top {
    font-size: 140%;
  }

  header .kent {
    image: 'media-queries-phone.jpg';
    height: 93px;
    position: relative;
  }

  #nav .container a {
    float: none;
    width: auto;
    border-collapse: collapse;
  }
}
